@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Arvo', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pizza-item {
  height: 220px;
}

.btn {
  background-color: red;
  color: white;
}

select {
  box-shadow: none !important;
  border-color: black !important;
}